body {
	margin: 0;
}
#wrapper {
	background-color: #ccc;
	padding: 0 1em 1em 1em;
}
nav {
	overflow: hidden;
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
	border: none;
	z-index: 1;
}
nav a {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
	font-family: "Microsoft Sans Serif", sans-serif;
}
nav a:last-child {
	float: right;
	background-color: #228B22;
}
nav a:hover {
	color: #ff0000;
}
.selected {
	background-color: #ccc;
	color: #000;
	pointer-events: none;
	cursor: default;
}
main {
	margin-top: 3em;
}
.preface {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	text-align: center;
}
h1 {
	text-align: center;
	padding-top: 1em;
	font-family: Arial;
	text-decoration: underline;
}
#center {
	text-align: center;
}
#center p {
	padding: 0 20%;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 2em 0;
}
#website {
	border: 3px solid #006400;
	border-radius: 1em;
	background-color: #80ff00;
}
#websitea {
	position: absolute;
	left: 0;
	margin-top: -50px;
}
#ps {
	border: 3px solid #00f;
	border-radius: 1em;
	background-color: #0080ff;
}
#psa {
	position: absolute;
	left: 0;
	margin-top: -50px;
}
#ai {
	border: 3px solid #ffa500;
	border-radius: 1em;
	background-color: #ffc04d;
}
#aia {
	position: absolute;
	left: 0;
	margin-top: -50px;
}
dt {
	font-weight: bold;
}
.desc {
	font-size: 1.4em;
	padding: .5em;
	margin: 1em 2em 0 2em;
	border: 1px solid #000;
	border-radius: 1em;
}
#yt {
	border: 3px solid #f00;
	border-radius: 1em;
	background-color: #ff4d4d;
}
#yta {
	position: absolute;
	left: 0;
	margin-top: -50px;
}
#xd {
	border: 3px solid #2E001E;
	border-radius: 1em;
	background-color: #FF2BC2;
}
#xda {
	position: absolute;
	left: 0;
	margin-top: -50px;
}
.projects a {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.projects div {
	text-align: center;
}
.container {
	position: relative;
	text-align: center;
	color: black;
}
.moretext {
	display: none;
	text-align: center;
	background-color: #000;
	color: #fff;
	margin: 0;
}
.icons {
	height: 225px;
}
.circlePhoto {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-color: #704214;
	background-blend-mode: luminosity;
	-webkit-transition: .5s background-color;
	-o-transition: .5s background-color;
	transition: .5s background-color;
}
.circlePhoto:hover {
	background-color: transparent;
}
.container p {
	text-align: center;
	display: inline-block;
	width: 200px;
}
.projects div .moretext {
	position: absolute;
	bottom: 0;
} 
.projects div a{
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
}
.projects div a:hover{
	text-decoration: underline;
}
.projects div:hover .moretext{
	display: block;
	position: absolute;
}
.adobeimages {
	height: 500px;
}
.adobeimagescompare {
	height: 800px;
}
.adobeimagescomparewide {
	width: 500px;
}
.video-style iframe {
	width: 100%;
	height: 100%;
	min-height: 1100px;
}
iframe {
	width: 480px;
	height: 270px;
	border: 0;
}
.documents {
	height: 100%;
	width: 100%;
	min-height: 1200px;
}
.email {
	color: #fff;
}
footer {
	background-color: #000;
	color: #fff;
	padding: 1em 0 1em 1em;
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
}